.btn-principal {
    background-color: var(--rosa-primario);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    width: 277px;
    height: 60px;
    border: none;
    border-radius: 5px;
}

.btn-principal:hover {
  cursor: pointer;
}