
.separator {
    display: inline-block;
    position: relative;
    top: 25rem;
    padding: 0 10px;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 360px;
    height: 1px;
    background-color: #DEDEDE;
  }
  
  .separator::before {
    right: 100%;
    margin-right: 10px;
  }
  
  .separator::after {
    left: 100%;
    margin-left: 10px;
  }
  
  #divisor {
    display: flex;
    justify-content: center;
  }