@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Poppins&display=swap');

:root {
  --font-primary: "Poppins", sans-serif;
  --rosa-primario: #F71963;
}

#root {
  max-width: 1440px;
  font-family: var(--font-primary);
}

.titulo-secao {
  color: var(--rosa-primario);
  font-size: 30px;
  font-weight: 700;
}